#post.page-wrap {
  .ant-layout-header {
    background-color: #1A1A1778;
    margin: 0 0 .24rem;
    padding: .16rem .24rem;
  }
  .ant-layout-sider{
    background-color: transparent;
  }
  .art-title{
    width:3rem;
    &:hover {
      border-color: #4695aa;
    }
    &:focus,
    &.ant-input-focused {
      border-color: #61DAFB;
    }
  }
  .markdown-toc{
    ul,ol{
      padding-left: .28rem;
      li a{
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
    }
  }
  .editormd.editormd-theme-dark {
    .editormd-menu > li > a{
      color:#61DAFB;
      &:hover,
      &.active{
        color:#fff;
        background-color: #61DAFB;
        border-color: #61DAFB;
      }
    }
    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
    .editormd-dialog {
      color: #fff;
      background: #3d4148;
      .editormd-dialog-header {
        border-bottom: 1px solid #3d4148;
        &:hover {
          background: rgba(0,0,0,.1);
        }
      }
      .editormd-dialog-close {
        color: #ccc;
        transition: color 300ms ease-out;
        &:hover{
          color:#61DAFB;
        }
      }
      .btn-style(){
        color: #90A4AE;
        background: transparent;
        border: 1px solid transparent;
        outline: none;
        &.editormd-enter-btn{
          color: #61DAFB;
        }
        &:hover{
          background: #61DAFB;
          border:1px solid #61DAFB;
          color:#fff;
        }
      }

      .editormd-dialog-container{
        input[type="submit"],
        .editormd-btn,
        button {
          .btn-style();
        }
        .editormd-form{
          color: #90A4AE;
          input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]):not([type="reset"]) {
            background-color: rgba(0,0,0,.2);
            border-radius: .03rem;
            border-color: transparent;
          }
          input[type="submit"],
          .editormd-btn,
          button {
            .btn-style();
          }
        }
      }
      .editormd-dialog-footer{
        input[type="submit"],
        .editormd-btn,
        button {
          .btn-style();
        }
      }
    }

  }

}



